
div.static {
  position: static;
}


 
div.fixed {
  position: fixed;
  right: 200px;
  width: 300px;
}
body { min-height: 200vh;}


div.relative {
  position: relative;
  left: 500px;
}
div.relative2 {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid green;
}
div.absolute {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 20px;
  height: 10px;
  border: 30px solid rgb(20, 240, 0);
}
div.sticky {
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}